<header class="toolbar">
    <div class="logo">
        <h3>PortFolio</h3>
    </div>
    <nav>
        <ul class="nav_links">
            <div class="marker"></div>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Team</a></li>
        </ul>
    </nav>
    <div>
        <a href="#" class="contact">Contact us</a>
    </div>
</header>
<section class="main">
    <div class="intro">
        <h3>Hey, I'm<span>Kunal Jain</span></h3>
    </div>
    <div class="image">
        <h1>some stuff</h1>
    </div>
</section>
<section class="about">

</section>
<footer>
    <div class="intro">
        <h1>kunal jain</h1>
    </div>
    <div class="social">
        <a target="_blank" href="https://www.facebook.com/kj.kunal.1"><i class="fab fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/kunaljain_2000"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.instagram.com/kunalkj_/"><i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.github.com/kunal2899"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/kunal-j-945756b6/"><i class="fab fa-linkedin"></i></a>
        <a target="_blank"
            href="http://wa.me/917566696939?text=Drop%20your%20message%20here.%0A%0AName%3A%0AEmail%3A"><i class="fab fa-whatsapp"></i></a>
    </div>
    <div class="copy">
        <h4>Copyright &copy;2021 Kunal | Designed by Kunal</h4>
    </div>
</footer>